.App {
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

pre {
  letter-spacing: 1px;
  white-space: pre-wrap;
}

.assessor {
  min-width: 35%;
  max-width: 50%;
  margin: 1rem;
}

@media only screen and (max-width: 600px) {
  pre {
    font-size: .5rem;
  }
}
